body {
  /*background-color: lime;*/
  padding: 4em;
  font-size: 1.2em;
  font-family: Helvetica Neue, Helvetica, sans-serif;

}

.editLink, .deleteLink {
  opacity: 0;
  transition: opacity 0.3s ease-out;
  font-size: 0.8em;
}